@charset "UTF-8";

body{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(../IMG/31173.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
}

input{
	padding: 20px;
}

.containertabla{
    width: 620px;
    height: 240px;
    background: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}

.btn-success{
	padding-left: 25px;
    padding-right: 25px;
	margin:20px 5px;
}

.btn-danger{
	padding-left: 25px;
    padding-right: 25px;
	margin:20px 5px;
}
.icono{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    float: left;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 24px 40px;
    font-size: 20px;
}

.menu{
    background: black;
    width: 100vmax;
    height:72px;
}

.barra{
    color: white;
    padding: 12px 0 0 0;
    font-size: 36px;
}

.menu ul li a:hover{
    color: rgb(90, 214, 245);
    padding: 22px;
    font-size: 24px;
}

.container{
    width: 100vmax;
    display: flex;
    justify-content: center;
    
}




