@charset "ISO-8859-1";

body{
    margin: 0;
    padding: 0;
    background: url(../IMG/31173.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
}

.userbox{
    width: 500px;
    height: 650px;
    background: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.icono{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
}

label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 18px;
}

input{
    width: 100%;
    margin-bottom: 20px;

}

input[type="text"], input[type="password"], input[type="tel"], input[type="number"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color:  white;
    font-size: 16px;
}

input[type="submit"]{
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    background: rgb(90, 214, 245);
    font-size: 18px;
    border-radius: 10px;
}


