<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControllerAcceso</servlet-name>
  	<display-name>ControllerAcceso</display-name>
  	<description></description>
  	<servlet-class>com.Laboratorio.Controladores.ControllerAcceso</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerMostarVuelos</servlet-name>
  	<display-name>ControllerMostarVuelos</display-name>
  	<description></description>
  	<servlet-class>com.Laboratorio.Controladores.ControllerMostarVuelos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerAeropuertos</servlet-name>
  	<display-name>ControllerAeropuertos</display-name>
  	<description></description>
  	<servlet-class>com.Laboratorio.Controladores.ControllerAeropuertos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerCompany</servlet-name>
  	<display-name>ControllerCompany</display-name>
  	<description></description>
  	<servlet-class>com.Laboratorio.Controladores.ControllerCompany</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerUser</servlet-name>
  	<display-name>ControllerUser</display-name>
  	<description></description>
  	<servlet-class>com.Laboratorio.Controladores.ControllerUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerAccesoBD</servlet-name>
  	<display-name>ControllerAccesoBD</display-name>
  	<description></description>
  	<servlet-class>com.Laboratorio.Controladores.ControllerAccesoBD</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAcceso</servlet-name>
  	<url-pattern>/ControllerAcceso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerMostarVuelos</servlet-name>
  	<url-pattern>/ControllerMostarVuelos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAeropuertos</servlet-name>
  	<url-pattern>/ControllerAeropuertos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerCompany</servlet-name>
  	<url-pattern>/ControllerCompany</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerUser</servlet-name>
  	<url-pattern>/ControllerUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAccesoBD</servlet-name>
  	<url-pattern>/ControllerAccesoBD</url-pattern>
  </servlet-mapping>
</web-app>
