<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControllerAcceso</servlet-name>
  	<display-name>ControllerAcceso</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerAcceso</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerUser</servlet-name>
  	<display-name>ControllerUser</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerAeropuertos</servlet-name>
  	<display-name>ControllerAeropuertos</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerAeropuertos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerCompany</servlet-name>
  	<display-name>ControllerCompany</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerCompany</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerTipos</servlet-name>
  	<display-name>ControllerTipos</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerTipos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerAvion</servlet-name>
  	<display-name>ControllerAvion</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerAvion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerVuelo</servlet-name>
  	<display-name>ControllerVuelo</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerVuelo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerClases</servlet-name>
  	<display-name>ControllerClases</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerClases</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerEscala</servlet-name>
  	<display-name>ControllerEscala</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerEscala</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerVuelosEscalas</servlet-name>
  	<display-name>ControllerVuelosEscalas</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerVuelosEscalas</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerDescuentoClase</servlet-name>
  	<display-name>ControllerDescuentoClase</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerDescuentoClase</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerPasajero</servlet-name>
  	<display-name>ControllerPasajero</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerPasajero</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerAsientos</servlet-name>
  	<display-name>ControllerAsientos</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerAsientos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerPasaje</servlet-name>
  	<display-name>ControllerPasaje</display-name>
  	<description></description>
  	<servlet-class>com.sistemaAeropuerto.Controladores.ControllerPasaje</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAcceso</servlet-name>
  	<url-pattern>/ControllerAcceso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerUser</servlet-name>
  	<url-pattern>/ControllerUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAeropuertos</servlet-name>
  	<url-pattern>/ControllerAeropuertos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerCompany</servlet-name>
  	<url-pattern>/ControllerCompany</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerTipos</servlet-name>
  	<url-pattern>/ControllerTipos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAvion</servlet-name>
  	<url-pattern>/ControllerAvion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerVuelo</servlet-name>
  	<url-pattern>/ControllerVuelo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerClases</servlet-name>
  	<url-pattern>/ControllerClases</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerEscala</servlet-name>
  	<url-pattern>/ControllerEscala</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerVuelosEscalas</servlet-name>
  	<url-pattern>/ControllerVuelosEscalas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerDescuentoClase</servlet-name>
  	<url-pattern>/ControllerDescuentoClase</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerPasajero</servlet-name>
  	<url-pattern>/ControllerPasajero</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAsientos</servlet-name>
  	<url-pattern>/ControllerAsientos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerPasaje</servlet-name>
  	<url-pattern>/ControllerPasaje</url-pattern>
  </servlet-mapping>
</web-app>
